#producción-desarrollo
/static/
/pruebas/settings.py

#Estos comentarios no pueden ir despues
#de una instruccion, anula la linea entera

# Byte-compiled / optimized / DLL files
__pycache__/
.cache
*.py[cod]
.vscode/

# Django
*.log
*.pot
*.pyc
local_settings.py

# Entornos virtuales se debe personalizar el nombre del entorno
pruebasenv/
.pruebasenv/

#builds results
*.egg-info/
dist/

#DB defecto
db.sqlite3

