{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    
    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="images/person_1.jpg" class="rounded-circle" alt="Cinque Terre">
                </div>
                <div class="col">
                    <div class="row content-center mb-1 pb-1">
                        <div class="col-sm-4 text-right"><label for="">Nombre : </label></div>
                        <div class="col-sm-4 text-left"><p>Juancito Pinto</p></div>
                    </div>
                    <div class="row content-center mb-1 pb-1">
                        <div class="col-sm-4 text-right"><label for="">Acerca de mí : </label></div>
                        <div class="col-sm-4 text-left"><p>Me gustan las tripitas.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h3>Lugares favoritos</h3>
    </div>

    <div class="container text-center">
        <h3>Comentarios realizados</h3>
    </div>

{% endblock %}