# Byte-compiled / optimized / DLL files
__pycache__/
.cache
*.py[cod]
.vscode/

# Django
*.log
*.pot
*.pyc
local_settings.py

# Entornos virtuales se debe personalizar el nombre del entorno
pruebasenv/
.pruebasenv/

#builds results
*.egg-info/
dist/

#DB defecto
db.sqlite3

#producción-desarrollo
/static/  #relativo a la posicion del gitignore
