 {% extends 'core/base.html' %}
 {% load static %}
 {% block content %}
    <div class="jumbotron text-center">
            <h1>INICIAR SESION</h1>
            <p>Ingresa tus datos.</p> 
        </div>

    <div class="container">
            {% if 'register' in request.GET %}
            <p style="color:green;">Usuario registrado correctamente ya puedes identificarte.</p>
            {% endif %}
            <form action='' method="POST"> 
                {% csrf_token %}
                {% if form.non_field_errors %}
                <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                {% endif %}
                <div class="form-row content-center mb-1 pb-1">
                    <div class="col-sm-4 text-right">
                      <label>Usuario : </label>
                    </div>
                    <div class="col-sm-4">                        
                      <input name ="username" maxlength="254" type="text" class="form-control" id="id_username" placeholder="Nombre de Usuario" required>
                      <small id="userHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="form-row content-center mb-1 pb-1">
                    <div class="col-sm-4 text-right">
                      <label>Contraseña : </label>
                    </div>
                    <div class="col-sm-4">
                      <input type="password" name="password" class="form-control" id="id_password" placeholder="Contraseña" required>
                      <small id="passwordHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="form-row justify-content-center mb-1 pb-1">
                        <div class="col-sm-4 text-center">
                          <input type="submit" class="btn btn-primary" value="Ingresar">
                        </div>
                </div>
          </form>
        </div>
{% endblock %}
